USE [master]
GO
/****** Object:  Database [CURSOVIC]    Script Date: 17.11.2025 03:01:26 ******/
CREATE DATABASE [CURSOVIC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CURSOVIC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CURSOVIC.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CURSOVIC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CURSOVIC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CURSOVIC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CURSOVIC]
GO
/****** Object:  Table [dbo].[Transport]    Script Date: 17.11.2025 03:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transport](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Vehicle_number] [char](6) NOT NULL,
	[Load_capacity(kg)] [int] NULL,
	[Maintenance_date] [date] NULL,
	[Is_deleted] [tinyint] NOT NULL,
	[Deleted_at] [datetime] NULL,
	[Restored_at] [datetime] NULL,
 CONSTRAINT [PK_Transport] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 17.11.2025 03:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Transport_ID] [bigint] NULL,
	[Full_name] [varchar](50) NOT NULL,
	[Drivers_license_number_and_series] [char](10) NOT NULL,
	[Contact_information] [varchar](11) NULL,
	[Is_deleted] [tinyint] NOT NULL,
	[Deleted_at] [datetime] NULL,
	[Restored_at] [datetime] NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DriverTransportView]    Script Date: 17.11.2025 03:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DriverTransportView]
AS
SELECT        d.ID, d.Full_name, d.Drivers_license_number_and_series, d.Contact_information, d.Is_deleted, t.Vehicle_number, d.Deleted_at, d.Restored_at
FROM            dbo.Drivers AS d LEFT OUTER JOIN
                         dbo.Transport AS t ON d.Transport_ID = t.ID
GO
/****** Object:  Table [dbo].[Cargo]    Script Date: 17.11.2025 03:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Quantity(units)] [int] NULL,
	[Transportation_ID] [bigint] NULL,
	[Value] [nchar](7) NULL,
	[Is_deleted] [tinyint] NOT NULL,
	[Deleted_at] [datetime] NULL,
	[Restored_at] [datetime] NULL,
 CONSTRAINT [PK_Cargo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consignee]    Script Date: 17.11.2025 03:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consignee](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Individual(0)/Legal_entity(1)] [tinyint] NOT NULL,
	[Account_number] [char](20) NULL,
	[Passport(series,number)] [bigint] NULL,
	[Is_deleted] [tinyint] NOT NULL,
	[Deleted_at] [datetime] NULL,
	[Restored_at] [datetime] NULL,
 CONSTRAINT [PK_Consigne] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 17.11.2025 03:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Transportation_ID] [bigint] NOT NULL,
	[Payment_status(0;1)] [tinyint] NOT NULL,
	[Payment_amount(Rub)] [money] NULL,
	[Payment_date] [date] NULL,
	[Is_deleted] [tinyint] NOT NULL,
	[Deleted_at] [datetime] NULL,
	[Restored_at] [datetime] NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipper]    Script Date: 17.11.2025 03:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipper](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Individual(0)/Legal_entity(1)] [tinyint] NULL,
	[Account_number] [char](20) NULL,
	[Passport(series,number)] [bigint] NULL,
	[Is_deleted] [tinyint] NOT NULL,
	[Deleted_at] [datetime] NULL,
	[Restored_at] [datetime] NULL,
 CONSTRAINT [PK_Shipper] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transportation]    Script Date: 17.11.2025 03:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transportation](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Shipper_ID] [bigint] NULL,
	[Consignee_ID] [bigint] NULL,
	[Driver_ID] [bigint] NULL,
	[Transport_ID] [bigint] NULL,
	[Planned_loading_date] [datetime] NOT NULL,
	[Actual_loading_date] [datetime] NULL,
	[Planned_delivery_date] [datetime] NOT NULL,
	[Actual_delivery_date] [datetime] NULL,
	[Is_deleted] [tinyint] NOT NULL,
	[Deleted_at] [datetime] NULL,
	[Restored_at] [datetime] NULL,
	[Status(0;1)] [tinyint] NOT NULL,
 CONSTRAINT [PK_Transpor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cargo] ON 

INSERT [dbo].[Cargo] ([ID], [Name], [Quantity(units)], [Transportation_ID], [Value], [Is_deleted], [Deleted_at], [Restored_at]) VALUES (1, N'Шкаф', 1, 1, N'средняя', 1, NULL, CAST(N'2025-05-17T18:15:32.180' AS DateTime))
INSERT [dbo].[Cargo] ([ID], [Name], [Quantity(units)], [Transportation_ID], [Value], [Is_deleted], [Deleted_at], [Restored_at]) VALUES (2, N'Айфон', 22, 3, N'высокая', 0, CAST(N'2025-03-25T21:14:29.153' AS DateTime), NULL)
INSERT [dbo].[Cargo] ([ID], [Name], [Quantity(units)], [Transportation_ID], [Value], [Is_deleted], [Deleted_at], [Restored_at]) VALUES (3, N'Йогурт', 11, 2, N'низкая ', 0, CAST(N'2025-03-25T21:14:29.153' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Cargo] OFF
GO
SET IDENTITY_INSERT [dbo].[Consignee] ON 

INSERT [dbo].[Consignee] ([ID], [Name], [Address], [Individual(0)/Legal_entity(1)], [Account_number], [Passport(series,number)], [Is_deleted], [Deleted_at], [Restored_at]) VALUES (1, N'ООО "Северный Ветер"', N'г. Москва, ул. Ленина, д. 10', 1, N'38379965022881976277', NULL, 1, NULL, CAST(N'2025-05-19T20:39:02.030' AS DateTime))
INSERT [dbo].[Consignee] ([ID], [Name], [Address], [Individual(0)/Legal_entity(1)], [Account_number], [Passport(series,number)], [Is_deleted], [Deleted_at], [Restored_at]) VALUES (2, N'ИП "Южное Солнце"', N'г. Тула, ул. Советская, д. 5', 1, N'41885707234565474377', NULL, 1, NULL, CAST(N'2025-03-25T17:02:40.250' AS DateTime))
INSERT [dbo].[Consignee] ([ID], [Name], [Address], [Individual(0)/Legal_entity(1)], [Account_number], [Passport(series,number)], [Is_deleted], [Deleted_at], [Restored_at]) VALUES (3, N'ЗАО "Восточная Звезда"', N'г. Казань, ул. Революции, д. 8', 1, N'14642925554893956650', NULL, 1, NULL, CAST(N'2025-03-25T17:02:38.237' AS DateTime))
SET IDENTITY_INSERT [dbo].[Consignee] OFF
GO
SET IDENTITY_INSERT [dbo].[Drivers] ON 

INSERT [dbo].[Drivers] ([ID], [Transport_ID], [Full_name], [Drivers_license_number_and_series], [Contact_information], [Is_deleted], [Deleted_at], [Restored_at]) VALUES (1, 6, N'Лобанов Алексей Владимирович', N'9930881594', N'89045918265', 1, NULL, CAST(N'2025-05-17T14:18:05.373' AS DateTime))
INSERT [dbo].[Drivers] ([ID], [Transport_ID], [Full_name], [Drivers_license_number_and_series], [Contact_information], [Is_deleted], [Deleted_at], [Restored_at]) VALUES (2, 66, N'Жимлев Егор Анатольевич', N'1932845681', N'88005553535', 0, CAST(N'2025-03-25T17:17:23.397' AS DateTime), NULL)
INSERT [dbo].[Drivers] ([ID], [Transport_ID], [Full_name], [Drivers_license_number_and_series], [Contact_information], [Is_deleted], [Deleted_at], [Restored_at]) VALUES (3, 2, N'Карпеев Павел Дмитриевич', N'5601927491', N'89018512912', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Drivers] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([ID], [Transportation_ID], [Payment_status(0;1)], [Payment_amount(Rub)], [Payment_date], [Is_deleted], [Deleted_at], [Restored_at]) VALUES (1, 1, 1, 15000.0000, CAST(N'2025-03-12' AS Date), 1, NULL, NULL)
INSERT [dbo].[Payment] ([ID], [Transportation_ID], [Payment_status(0;1)], [Payment_amount(Rub)], [Payment_date], [Is_deleted], [Deleted_at], [Restored_at]) VALUES (2, 2, 1, 20000.0000, CAST(N'2025-03-15' AS Date), 1, NULL, NULL)
INSERT [dbo].[Payment] ([ID], [Transportation_ID], [Payment_status(0;1)], [Payment_amount(Rub)], [Payment_date], [Is_deleted], [Deleted_at], [Restored_at]) VALUES (3, 3, 1, 12000.0000, CAST(N'2025-03-14' AS Date), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipper] ON 

INSERT [dbo].[Shipper] ([ID], [Name], [Address], [Individual(0)/Legal_entity(1)], [Account_number], [Passport(series,number)], [Is_deleted], [Deleted_at], [Restored_at]) VALUES (1, N'ООО "Север"', N'г. Москва, ул. Ленина, д. 10', 1, N'90714043207603658144', NULL, 1, NULL, CAST(N'2025-05-19T20:19:11.957' AS DateTime))
INSERT [dbo].[Shipper] ([ID], [Name], [Address], [Individual(0)/Legal_entity(1)], [Account_number], [Passport(series,number)], [Is_deleted], [Deleted_at], [Restored_at]) VALUES (2, N'ИП "Юг"', N'г. Тула, ул. Революции, д. 5', 0, NULL, 6825392118, 1, NULL, CAST(N'2025-03-25T17:29:40.270' AS DateTime))
INSERT [dbo].[Shipper] ([ID], [Name], [Address], [Individual(0)/Legal_entity(1)], [Account_number], [Passport(series,number)], [Is_deleted], [Deleted_at], [Restored_at]) VALUES (3, N'ЗАО "Восток"', N'г. Казань, ул. Победы, д. 3', 0, NULL, 8860991729, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Shipper] OFF
GO
SET IDENTITY_INSERT [dbo].[Transport] ON 

INSERT [dbo].[Transport] ([ID], [Vehicle_number], [Load_capacity(kg)], [Maintenance_date], [Is_deleted], [Deleted_at], [Restored_at]) VALUES (1, N'A123BC', 1500, CAST(N'2025-01-01' AS Date), 0, CAST(N'2025-05-19T19:50:52.463' AS DateTime), NULL)
INSERT [dbo].[Transport] ([ID], [Vehicle_number], [Load_capacity(kg)], [Maintenance_date], [Is_deleted], [Deleted_at], [Restored_at]) VALUES (2, N'K111CC', 2500, CAST(N'2024-03-04' AS Date), 0, CAST(N'2025-05-12T19:28:05.800' AS DateTime), NULL)
INSERT [dbo].[Transport] ([ID], [Vehicle_number], [Load_capacity(kg)], [Maintenance_date], [Is_deleted], [Deleted_at], [Restored_at]) VALUES (3, N'A312KC', 3000, CAST(N'2020-11-02' AS Date), 0, CAST(N'2025-05-12T19:28:07.287' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Transport] OFF
GO
SET IDENTITY_INSERT [dbo].[Transportation] ON 

INSERT [dbo].[Transportation] ([ID], [Shipper_ID], [Consignee_ID], [Driver_ID], [Transport_ID], [Planned_loading_date], [Actual_loading_date], [Planned_delivery_date], [Actual_delivery_date], [Is_deleted], [Deleted_at], [Restored_at], [Status(0;1)]) VALUES (1, 10, 5, 9, 7, CAST(N'2025-02-04T08:00:00.000' AS DateTime), CAST(N'2024-01-03T14:00:00.000' AS DateTime), CAST(N'2024-04-03T18:00:00.000' AS DateTime), CAST(N'2025-03-16T00:00:00.000' AS DateTime), 0, CAST(N'2025-03-28T19:12:06.627' AS DateTime), NULL, 1)
INSERT [dbo].[Transportation] ([ID], [Shipper_ID], [Consignee_ID], [Driver_ID], [Transport_ID], [Planned_loading_date], [Actual_loading_date], [Planned_delivery_date], [Actual_delivery_date], [Is_deleted], [Deleted_at], [Restored_at], [Status(0;1)]) VALUES (2, 10, 4, 9, 5, CAST(N'2025-03-08T00:00:00.000' AS DateTime), CAST(N'2025-03-11T00:00:00.000' AS DateTime), CAST(N'2025-03-14T00:00:00.000' AS DateTime), NULL, 0, CAST(N'2025-05-20T19:06:44.460' AS DateTime), NULL, 0)
INSERT [dbo].[Transportation] ([ID], [Shipper_ID], [Consignee_ID], [Driver_ID], [Transport_ID], [Planned_loading_date], [Actual_loading_date], [Planned_delivery_date], [Actual_delivery_date], [Is_deleted], [Deleted_at], [Restored_at], [Status(0;1)]) VALUES (3, 10, 5, 1, 6, CAST(N'2025-03-05T00:00:00.000' AS DateTime), CAST(N'2025-05-06T00:00:00.000' AS DateTime), CAST(N'2025-03-10T00:00:00.000' AS DateTime), NULL, 1, NULL, CAST(N'2025-03-25T17:13:47.990' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Transportation] OFF
GO
/****** Object:  Index [CONSIGNEE_Shipper_Passport]    Script Date: 17.11.2025 03:01:26 ******/
CREATE UNIQUE NONCLUSTERED INDEX [CONSIGNEE_Shipper_Passport] ON [dbo].[Consignee]
(
	[Passport(series,number)] ASC
)
WHERE ([Passport(series,number)] IS NOT NULL AND [Passport(series,number)]<>(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Account_number]    Script Date: 17.11.2025 03:01:26 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Account_number] ON [dbo].[Consignee]
(
	[Account_number] ASC
)
WHERE ([Account_number] IS NOT NULL AND [Account_number]<>'' AND [Account_number]<>'                    ')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Uniqueness of Driver's_license_number_and_series]    Script Date: 17.11.2025 03:01:26 ******/
ALTER TABLE [dbo].[Drivers] ADD  CONSTRAINT [Uniqueness of Driver's_license_number_and_series] UNIQUE NONCLUSTERED 
(
	[Drivers_license_number_and_series] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Payment_Transportation_ID]    Script Date: 17.11.2025 03:01:26 ******/
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [UQ_Payment_Transportation_ID] UNIQUE NONCLUSTERED 
(
	[Transportation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Account_number]    Script Date: 17.11.2025 03:01:26 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Account_number] ON [dbo].[Shipper]
(
	[Account_number] ASC
)
WHERE ([Account_number] IS NOT NULL AND [Account_number]<>'' AND [Account_number]<>'                    ')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Shipper_Passport]    Script Date: 17.11.2025 03:01:26 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Shipper_Passport] ON [dbo].[Shipper]
(
	[Passport(series,number)] ASC
)
WHERE ([Passport(series,number)] IS NOT NULL AND [Passport(series,number)]<>(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Transport_Vehicle_number]    Script Date: 17.11.2025 03:01:26 ******/
ALTER TABLE [dbo].[Transport] ADD  CONSTRAINT [UQ_Transport_Vehicle_number] UNIQUE NONCLUSTERED 
(
	[Vehicle_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cargo]  WITH CHECK ADD  CONSTRAINT [FK_Cargo_Transportation1] FOREIGN KEY([Transportation_ID])
REFERENCES [dbo].[Transportation] ([ID])
GO
ALTER TABLE [dbo].[Cargo] CHECK CONSTRAINT [FK_Cargo_Transportation1]
GO
ALTER TABLE [dbo].[Drivers]  WITH CHECK ADD  CONSTRAINT [FK_Drivers_Transport] FOREIGN KEY([Transport_ID])
REFERENCES [dbo].[Transport] ([ID])
GO
ALTER TABLE [dbo].[Drivers] CHECK CONSTRAINT [FK_Drivers_Transport]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Transportation] FOREIGN KEY([Transportation_ID])
REFERENCES [dbo].[Transportation] ([ID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Transportation]
GO
ALTER TABLE [dbo].[Transportation]  WITH CHECK ADD  CONSTRAINT [FK_Transportation_Consignee] FOREIGN KEY([Consignee_ID])
REFERENCES [dbo].[Consignee] ([ID])
GO
ALTER TABLE [dbo].[Transportation] CHECK CONSTRAINT [FK_Transportation_Consignee]
GO
ALTER TABLE [dbo].[Transportation]  WITH CHECK ADD  CONSTRAINT [FK_Transportation_Drivers] FOREIGN KEY([Driver_ID])
REFERENCES [dbo].[Drivers] ([ID])
GO
ALTER TABLE [dbo].[Transportation] CHECK CONSTRAINT [FK_Transportation_Drivers]
GO
ALTER TABLE [dbo].[Transportation]  WITH CHECK ADD  CONSTRAINT [FK_Transportation_Shipper] FOREIGN KEY([Shipper_ID])
REFERENCES [dbo].[Shipper] ([ID])
GO
ALTER TABLE [dbo].[Transportation] CHECK CONSTRAINT [FK_Transportation_Shipper]
GO
ALTER TABLE [dbo].[Transportation]  WITH CHECK ADD  CONSTRAINT [FK_Transportation_Transport] FOREIGN KEY([Transport_ID])
REFERENCES [dbo].[Transport] ([ID])
GO
ALTER TABLE [dbo].[Transportation] CHECK CONSTRAINT [FK_Transportation_Transport]
GO
/****** Object:  StoredProcedure [dbo].[AddTransportation]    Script Date: 17.11.2025 03:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddTransportation]
    @Shipper_ID            BIGINT,
    @Consignee_ID          BIGINT,
    @Driver_ID             BIGINT,
    @Transport_ID          BIGINT,
    @Planned_loading_date  DATETIME,
    @Actual_loading_date   DATETIME    = NULL,
    @Planned_delivery_date DATETIME,
    @Actual_delivery_date  DATETIME    = NULL,
    @Is_deleted            TINYINT     = 1,
    @Deleted_at            DATETIME    = NULL,
    @Restored_at           DATETIME    = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        --------------------------------------------------------------------
        -- 1) Проверка существования связанных записей (FK)
        --------------------------------------------------------------------
        IF NOT EXISTS(SELECT 1 FROM dbo.Shipper     WHERE ID = @Shipper_ID)
            RAISERROR('Не найден грузоотправитель (Shipper_ID = %d)', 16, 1, @Shipper_ID);

        IF NOT EXISTS(SELECT 1 FROM dbo.Consignee   WHERE ID = @Consignee_ID)
            RAISERROR('Не найден грузополучатель (Consignee_ID = %d)', 16, 1, @Consignee_ID);

        IF NOT EXISTS(SELECT 1 FROM dbo.Drivers     WHERE ID = @Driver_ID)
            RAISERROR('Не найден водитель (Driver_ID = %d)', 16, 1, @Driver_ID);

        IF NOT EXISTS(SELECT 1 FROM dbo.Transport   WHERE ID = @Transport_ID)
            RAISERROR('Не найден транспорт (Transport_ID = %d)', 16, 1, @Transport_ID);

        --------------------------------------------------------------------
        -- 2) Проверка последовательности фактических дат
        --------------------------------------------------------------------
        IF @Actual_loading_date IS NOT NULL
           AND @Actual_delivery_date IS NOT NULL
           AND @Actual_delivery_date < @Actual_loading_date
        BEGIN
            THROW 51005, 'Логическая ошибка: Фактическая доставка не может предшествовать загрузке', 1;
        END

        --------------------------------------------------------------------
        -- 3) Вставка новой записи (Status заполняет триггер)
        --------------------------------------------------------------------
        INSERT INTO dbo.Transportation
        (
            Shipper_ID,
            Consignee_ID,
            Driver_ID,
            Transport_ID,
            Planned_loading_date,
            Actual_loading_date,
            Planned_delivery_date,
            Actual_delivery_date,
            Is_deleted,
            Deleted_at,
            Restored_at
        )
        VALUES
        (
            @Shipper_ID,
            @Consignee_ID,
            @Driver_ID,
            @Transport_ID,
            @Planned_loading_date,
            @Actual_loading_date,
            @Planned_delivery_date,
            @Actual_delivery_date,
            @Is_deleted,
            @Deleted_at,
            @Restored_at
        );

        COMMIT TRANSACTION;
        PRINT 'Запись о перевозке успешно создана';
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        DECLARE
            @ErrMsg   NVARCHAR(4000) = ERROR_MESSAGE(),
            @ErrNum   INT            = ERROR_NUMBER(),
            @ErrSev   INT            = ERROR_SEVERITY(),
            @ErrState INT            = ERROR_STATE();

        DECLARE @FullMsg NVARCHAR(4000) =
            'Ошибка при создании перевозки: ' + @ErrMsg   + CHAR(13) +
            'Код ошибки: '               + CAST(@ErrNum   AS NVARCHAR) + CHAR(13) +
            'Серьезность: '              + CAST(@ErrSev   AS NVARCHAR) + CHAR(13) +
            'Состояние: '                + CAST(@ErrState AS NVARCHAR);

        RAISERROR(@FullMsg, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[CalculateTotalPayments]    Script Date: 17.11.2025 03:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CalculateTotalPayments]
    @IsDeleted   TINYINT,  -- 0 или 1
    @StartDate   DATE,     -- начало периода
    @EndDate     DATE      -- конец периода
AS
BEGIN
    SET NOCOUNT ON;

    -- Валидация параметров
    IF @IsDeleted NOT IN (0,1)
    BEGIN
        RAISERROR('@IsDeleted должен быть 0 или 1.',16,1);
        RETURN;
    END
    IF @StartDate > @EndDate
    BEGIN
        RAISERROR('Начальная дата не может быть позже конечной.',16,1);
        RETURN;
    END

    SELECT 
        SUM([Payment_amount(Rub)]) AS Сумма
    FROM dbo.Payment
    WHERE
        [Is_deleted]             = @IsDeleted   -- по статусу активности
        AND [Payment_status(0;1)] = 1            -- только оплаченные
        AND [Payment_amount(Rub)] IS NOT NULL    -- сумма должна быть указанa
        AND [Payment_date] BETWEEN @StartDate AND @EndDate;
END
GO
/****** Object:  StoredProcedure [dbo].[GetPaymentsByDateRange2]    Script Date: 17.11.2025 03:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Табличная процедура: возвращает все колонки из dbo.Payment
CREATE PROCEDURE [dbo].[GetPaymentsByDateRange2]
    @Status        TINYINT,  -- 0 = не оплачено, 1 = оплачено
    @StartDate     DATE,     -- начало диапазона (включительно)
    @EndDate       DATE,     -- конец диапазона (включительно)
    @IsDeleted     TINYINT   -- 0 = «неактивные» записи, 1 = «активные»
AS
BEGIN
    SET NOCOUNT ON;

    -- Валидация параметров
    IF @Status NOT IN (0,1)
    BEGIN
        RAISERROR('@Status должен быть 0 или 1.', 16, 1);
        RETURN;
    END
    IF @IsDeleted NOT IN (0,1)
    BEGIN
        RAISERROR('@IsDeleted должен быть 0 или 1.', 16, 1);
        RETURN;
    END
    IF @StartDate > @EndDate
    BEGIN
        RAISERROR('Начальная дата не может быть позже конечной.', 16, 1);
        RETURN;
    END

    -- Возвращаем все колонки из Payment, соответствующие фильтру
    SELECT
        [ID],
        [Transportation_ID],
        [Payment_status(0;1)]   AS PaymentStatus,
        [Payment_amount(Rub)]   AS PaymentAmount,
        [Payment_date]          AS PaymentDate,
        [Is_deleted]            AS IsDeleted,
        [Deleted_at],
        [Restored_at]
    FROM dbo.Payment
    WHERE
        [Payment_status(0;1)] = @Status
        AND [Payment_date] BETWEEN @StartDate AND @EndDate
        AND [Is_deleted] = @IsDeleted
    ORDER BY [Payment_date], [ID];
END
GO
/****** Object:  StoredProcedure [dbo].[GetTransportationsByDateRange]    Script Date: 17.11.2025 03:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTransportationsByDateRange]
    @Status    TINYINT,  -- 0 = Не выполнена, 1 = Выполнена
    @StartDate DATE,     -- Начало периода по плановой дате доставки
    @EndDate   DATE      -- Конец периода
AS
BEGIN
    SET NOCOUNT ON;

    -- Проверка корректности параметров
    IF @Status NOT IN (0, 1)
    BEGIN
        RAISERROR('@Status должен быть 0 (Не выполнена) или 1 (Выполнена).', 16, 1);
        RETURN;
    END
    IF @StartDate > @EndDate
    BEGIN
        RAISERROR('Начальная дата не может быть позже конечной.', 16, 1);
        RETURN;
    END

    -- Выбираем только те столбцы, которые точно есть в вашей DataTable
    SELECT
        ID,
        Shipper_ID,
        Consignee_ID,
        Driver_ID,
        Transport_ID,
        Planned_loading_date,
        Actual_loading_date,
        Planned_delivery_date,
        Actual_delivery_date,
        [Status(0;1)],
        Is_deleted,
        Deleted_at,
        Restored_at
    FROM dbo.Transportation
    WHERE
        [Status(0;1)] = @Status
        AND Planned_delivery_date BETWEEN @StartDate AND @EndDate;
END
GO
/****** Object:  StoredProcedure [dbo].[GetTransportationsByShipper]    Script Date: 17.11.2025 03:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetTransportationsByShipper]
    @IsDeleted TINYINT,      -- 0 = Неактивна, 1 = Активна
    @ShipperID BIGINT        -- Номер грузоотправителя
AS
BEGIN
    SET NOCOUNT ON;

    -- Валидация параметров
    IF @IsDeleted NOT IN (0, 1)
    BEGIN
        RAISERROR('@IsDeleted должен быть 0 (Неактивна) или 1 (Активна).', 16, 1);
        RETURN;
    END;

    -- Возвращаем только те строки, где Shipper_ID совпадает и статус Is_deleted равен @IsDeleted
    SELECT
        ID                                AS [Номер записи],
        Shipper_ID                        AS [Отправитель],
        Consignee_ID                      AS [Получатель],
        Driver_ID                         AS [Водитель],
        Transport_ID                      AS [Транспорт],
        Planned_loading_date              AS [Плановая дата загрузки],
        Actual_loading_date               AS [Актуальная дата загрузки],
        Planned_delivery_date             AS [Плановая дата доставки],
        Actual_delivery_date              AS [Актуальная дата доставки],
        CASE WHEN [Status(0;1)] = 1 
             THEN N'Выполнена' 
             ELSE N'Не выполнена' 
        END                               AS [Статус перевозки],
        CASE WHEN Is_deleted = 1 
             THEN N'Активна' 
             ELSE N'Неактивна' 
        END                               AS [Активность записи],
        Deleted_at                        AS [Дата удаления],
        Restored_at                       AS [Дата восстановления]
    FROM dbo.Transportation
    WHERE
        Is_deleted   = @IsDeleted
        AND Shipper_ID = @ShipperID;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateDriver]    Script Date: 17.11.2025 03:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateDriver]
    @ID BIGINT,
    @Transport_ID BIGINT = NULL,
    @Full_name VARCHAR(50) = NULL,
    @Drivers_license_number_and_series CHAR(10) = NULL,
    @Contact_information VARCHAR(50) = NULL,
    @Is_deleted CHAR(1) = NULL  -- Изменено на CHAR(1)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Проверка существования водителя
        IF NOT EXISTS (SELECT 1 FROM [dbo].[Drivers] WHERE ID = @ID)
            RAISERROR('Водитель с ID %d не найден.', 16, 1, @ID);

        -- Проверка существования транспорта (если передан Transport_ID)
        IF @Transport_ID IS NOT NULL 
            AND NOT EXISTS (SELECT 1 FROM [dbo].[Transport] WHERE ID = @Transport_ID)
                RAISERROR('Транспорт с ID %d не существует.', 16, 1, @Transport_ID);

        -- Проверка уникальности водительского удостоверения (если передан новый номер)
        IF @Drivers_license_number_and_series IS NOT NULL
            AND EXISTS (
                SELECT 1 
                FROM [dbo].[Drivers] 
                WHERE Drivers_license_number_and_series = @Drivers_license_number_and_series 
                    AND ID <> @ID
            )
                RAISERROR('Номер водительского удостоверения "%s" уже занят.', 16, 1, @Drivers_license_number_and_series);

        -- Проверка значения Is_deleted ('0' или '1')
        IF @Is_deleted IS NOT NULL AND @Is_deleted NOT IN ('0', '1')  -- Используем строки '0' и '1'
            RAISERROR('Поле Is_deleted может быть только ''0'' (активен) или ''1'' (удален).', 16, 1);

        -- Обновление данных
        UPDATE [dbo].[Drivers]
        SET 
            Transport_ID = COALESCE(@Transport_ID, Transport_ID),
            Full_name = COALESCE(@Full_name, Full_name),
            Drivers_license_number_and_series = COALESCE(@Drivers_license_number_and_series, Drivers_license_number_and_series),
            Contact_information = COALESCE(@Contact_information, Contact_information),
            Is_deleted = COALESCE(@Is_deleted, Is_deleted)  -- Используем строку '0' или '1'
        WHERE ID = @ID;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateTransportation]    Script Date: 17.11.2025 03:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateTransportation]
    @ID BIGINT,
    @Shipper_ID BIGINT = NULL,
    @Consignee_ID BIGINT = NULL,
    @Driver_ID BIGINT = NULL,
    @Transport_ID BIGINT = NULL,
    @Planned_loading_date DATETIME = NULL,
    @Actual_loading_date DATETIME = NULL,
    @Planned_delivery_date DATETIME = NULL,
    @Actual_delivery_date DATETIME = NULL,
    @Is_deleted CHAR(1) = NULL  -- Изменено на CHAR(1)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. Проверка существования перевозки
        IF NOT EXISTS (SELECT 1 FROM [dbo].[Transportation] WHERE ID = @ID)
            RAISERROR('Перевозка с ID %d не найдена.', 16, 1, @ID);

        -- 2. Получение текущих значений
        DECLARE 
            @CurrentPlannedLoading DATETIME,
            @CurrentPlannedDelivery DATETIME,
            @CurrentActualLoading DATETIME,
            @CurrentActualDelivery DATETIME;

        SELECT 
            @CurrentPlannedLoading = Planned_loading_date,
            @CurrentPlannedDelivery = Planned_delivery_date,
            @CurrentActualLoading = Actual_loading_date,
            @CurrentActualDelivery = Actual_delivery_date
        FROM [dbo].[Transportation] 
        WHERE ID = @ID;

        -- 3. Проверка существования связанных записей
        -- Грузоотправитель
        IF @Shipper_ID IS NOT NULL 
            AND NOT EXISTS (SELECT 1 FROM [dbo].[Shipper] WHERE ID = @Shipper_ID)
                RAISERROR('Грузоотправитель с ID %d не существует.', 16, 1, @Shipper_ID);

        -- Грузополучатель
        IF @Consignee_ID IS NOT NULL 
            AND NOT EXISTS (SELECT 1 FROM [dbo].[Consignee] WHERE ID = @Consignee_ID)
                RAISERROR('Грузополучатель с ID %d не существует.', 16, 1, @Consignee_ID);

        -- Водитель
        IF @Driver_ID IS NOT NULL 
            AND NOT EXISTS (SELECT 1 FROM [dbo].[Drivers] WHERE ID = @Driver_ID)
                RAISERROR('Водитель с ID %d не существует.', 16, 1, @Driver_ID);

        -- Транспорт
        IF @Transport_ID IS NOT NULL 
            AND NOT EXISTS (SELECT 1 FROM [dbo].[Transport] WHERE ID = @Transport_ID)
                RAISERROR('Транспорт с ID %d не существует.', 16, 1, @Transport_ID);

        -- 4. Проверки для дат
        -- Актуальная дата загрузки <= текущего времени
        IF @Actual_loading_date IS NOT NULL AND @Actual_loading_date > GETDATE()
            RAISERROR('Актуальная дата загрузки должна быть ≤ текущего времени.', 16, 1);

        -- Плановая дата доставки >= актуальной даты загрузки (если она указана)
        DECLARE @NewPlannedDelivery DATETIME = COALESCE(@Planned_delivery_date, @CurrentPlannedDelivery);
        IF @Actual_loading_date IS NOT NULL AND @NewPlannedDelivery < @Actual_loading_date
            RAISERROR('Плановая дата доставки должна быть ≥ актуальной даты загрузки.', 16, 1);

        -- Актуальная дата доставки <= текущего времени
        IF @Actual_delivery_date IS NOT NULL AND @Actual_delivery_date > GETDATE()
            RAISERROR('Актуальная дата доставки должна быть ≤ текущего времени.', 16, 1);

        -- Актуальная доставка >= актуальной загрузки
        IF @Actual_loading_date IS NOT NULL 
            AND @Actual_delivery_date IS NOT NULL 
            AND @Actual_delivery_date < @Actual_loading_date
                RAISERROR('Актуальная дата доставки должна быть ≥ актуальной даты загрузки.', 16, 1);

        -- 5. Проверка Is_deleted
        IF @Is_deleted IS NOT NULL AND @Is_deleted NOT IN ('0', '1')  -- Строки '0' и '1'
            RAISERROR('Поле Is_deleted может быть только ''0'' (активно) или ''1'' (удалено).', 16, 1);

        -- 6. Обновление данных
        UPDATE [dbo].[Transportation]
        SET 
            Shipper_ID = COALESCE(@Shipper_ID, Shipper_ID),
            Consignee_ID = COALESCE(@Consignee_ID, Consignee_ID),
            Driver_ID = COALESCE(@Driver_ID, Driver_ID),
            Transport_ID = COALESCE(@Transport_ID, Transport_ID),
            Planned_loading_date = COALESCE(@Planned_loading_date, Planned_loading_date),
            Actual_loading_date = COALESCE(@Actual_loading_date, Actual_loading_date),
            Planned_delivery_date = @NewPlannedDelivery,
            Actual_delivery_date = COALESCE(@Actual_delivery_date, Actual_delivery_date),
            Is_deleted = COALESCE(@Is_deleted, Is_deleted)  -- Строка '0' или '1'
        WHERE ID = @ID;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH
END;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "d"
            Begin Extent = 
               Top = 149
               Left = 761
               Bottom = 279
               Right = 1033
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "t"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 3
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DriverTransportView'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DriverTransportView'
GO
USE [master]
GO
